.autocomplete {

  position relative
  $parent = selector()

  &__list {

    position relative
    z-index 11

    & > ul {
      position absolute
      top 100%
      left 0
      width 100%
      list-style none
      margin-top 0
      padding 0
      background-color #fff
      box-shadow 0 50px 75px 0 rgba(0, 0, 0, .2)
      border-radius 5px
      overflow hidden

      & > li {
        padding 10px 15px
        border-left 4px solid transparent
        cursor pointer
        color #000
        transition all ease-in-out .3s
        font-size 14px

        &:hover, &:focus {
          border-color #00c18b
          padding-left 20px
          font-weight bold
        }
      }
    }

  }

  &__input {
    position relative
    z-index 11
  }

  &.is-active {
    & {$parent} {
      &__overlay {
        display block
      }
    }
  }

  &__overlay {
    display none
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    z-index 10
  }

}
