.btn {

  display inline-block
  padding 8px 12px
  margin-bottom 0
  font-size 14px
  font-weight 400
  line-height 1.42857143
  text-align center
  white-space nowrap
  vertical-align middle
  touch-action manipulation
  cursor pointer
  user-select none
  background-image none
  background-color #EDEDED
  border 1px solid transparent
  border-radius 5px
  text-decoration none
  transition all .4s linear
  color #a3a3a3

  &:hover, &:focus {
    background-color @background-color - 10
    color #000
  }

  &.primary {
    background-color $primaryColor
    color #fff

    &:hover, &:focus {
      background-color @background-color - 20
    }

  }
}
