.form {

  padding 20px
  border-radius 15px
  background-color #fff
  box-shadow 0 2px 8px rgba(0, 0, 0, .2)
  transition box-shadow .4s ease-in-out
  max-width 400px
  width 100%

  &:hover, &:focus {
    box-shadow 0 4px 15px rgba(0, 0, 0, .3)
  }

  &__title {
    font-size 20px
    font-weight bold
    line-height @font-size
    margin 0 0 20px 0
  }

  &-body {

    &__item {
      & + & {
        margin-top 15px
      }
    }

  }

  &-foot {
    display flex
    justify-content flex-end
    margin-top 20px
    & .btn + .btn {
      margin-left 15px
    }
  }

}
