.main {

  height 100vh
  display flex
  align-items flex-start
  justify-content center
  font-family 'Roboto', sans-serif

  & * {
    box-sizing border-box
  }

  & .form {
    margin-top 50px
  }

  & input {

    $borderColor = #ced4da

    display block
    width 100%
    height 35px
    padding-left 15px
    padding-right @padding-left
    font-size 14px
    line-height 1.5
    color #495057
    background-color #fff
    background-clip padding-box
    border 1px solid $borderColor
    border-radius 5px
    transition border-color .15s ease-in-out, box-shadow .15s ease-in-out

    &:hover, &:focus {
      border-color $borderColor - 50
      outline none
      box-shadow none
    }

  }

}
